.col {

    .card {
        height: 450px;
        background-color: rgba(110, 210, 22, 0.653);
        margin: 20px 0;
        cursor: pointer;

        .card-body {

            .card-title {
                font-size: .9rem;
                color: #0509ff;
            }
        }
    }

}