.col {

    .card {
        // height: 450px;
        // background-color: rgba(110, 210, 22, 0.653);
        background-color: inherit;
        margin: 20px 0;
        cursor: pointer;
        img{
            height: 200px
        };

        .card-body {

            .card-title {
                font-size: .9rem;
                color: #d3d3d7;
            }
        }
    }

}